body {
  font-family: 'Arial', sans-serif;
  transition: background-color 0.5s ease, color 0.5s ease;
}

:root {
  --color--principal: #00A770;
  --color--sec: #325579;
}

.navbar-mobile {
  display: none;
}

.navbar {
  position: fixed;
  background-color: transparent;
  color: var(--color--sec);
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.navbar:hover {
  background-color: #f5f8fa;
  /* Agrega un color de fondo en hover */
}

@media (max-width: 400px) {
  .navbar {
    display: none;
  }

  .navbar-mobile {
    display: flex;
    background-color: var(--color--principal);
    width: 100%;
    position: fixed;
    bottom: 0;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  }

  .navbar-mobile .navbar__links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: baseline;
  }

  .navbar-mobile .navbar__links a {
    padding: 15px;
    color: var(--color--sec);
    text-decoration: none;
    transition: background-color 0.3s;
  }

  .navbar-mobile .navbar__links a:hover {
    background-color: #1291f6;
  }

  .navbar-mobile #logout-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    text-align: left;
    width: 100%;
    margin-top: 10px;
  }

  .navbar-mobile #logout-button:hover {
    background-color: #c0392b;
  }
}

.navbar__links {
  width: 16rem;
  position: fixed;
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.navbar__links a {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 5px;
  color: var(--color--sec);
  text-decoration: none;
}

.navbar__links li {
  font-size: 2rem;
}

.btn-cambiar-modo {
  background-color: var(--color--principal);
  width: 12rem;
  cursor: pointer;
  border: transparent;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-cambiar-modo:hover {
  background-color: #1291f6;
}

.tweet__box {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tweet__box__content {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 100px;
  resize: none;
}

.tweet__box__button {
  background-color: var(--color--principal);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.tweet__box__button:hover {
  background-color: #1291f6;
}

.tweet__box__icons i {
  margin-right: 10px;
  cursor: pointer;
  font-size: 1.5rem;
}

.sidebar {
  position: fixed;
  background-color: #f5f8fa;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar h4 {
  font-size: 18px;
  margin-bottom: 15px;
}

.sidebar__user-list,
.sidebar__trends-list,
.sidebar__suggestions-list {
  list-style: none;
  padding: 0;
}

.sidebar__user-item,
.sidebar__trends-item,
.sidebar__suggestions-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.sidebar__user-img,
.sidebar__suggestions-img {
  border-radius: 50%;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.sidebar__trends-item a {
  color: var(--color--principal);
  text-decoration: none;
  font-weight: bold;
}

.tweets-container {
  margin-top: 20px;
}

.tweet {
  background-color: white;
  border: 1px solid #e1e8ed;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.tweet-author {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.tweet-author img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.author-name {
  font-weight: bold;
}

.tweet-text {
  font-size: 16px;
  margin-bottom: 10px;
}

.tweet-actions {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.tweet-time {
  color: #657786;
  font-size: 12px;
  margin-right: 10px;
}

.tweet-action {
  background: none;
  border: none;
  color: #657786;
  cursor: pointer;
  margin-right: 20px;
  font-size: 1.3rem;
}

.like-action:hover,
.comment-action:hover,
.fav-action:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
}

.like-action.liked {
  color: red;
}

.comment-action:hover {
  background-color: rgba(114, 113, 113, 0.05);
  border-radius: 50%;
}

.fav-action:hover {
  background-color: rgba(41, 168, 168, 0.05);
  border-radius: 50%;
}

.tweet-image {
  width: 100%;
  border-radius: 1rem;
  max-height: 26rem;
  object-fit: contain;
}

.login-form {
  width: 300px;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
}

.login-form h1 {
  text-align: center;
  color: var(--color--principal);
  font-size: 24px;
  padding: 20px 0;
}

.login-form input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.login-form input[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: var(--color--principal);
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.login-form input[type="submit"]:hover {
  background-color: #1291f6;
}

.login-form .error-message,
.login-form .success-message {
  text-align: center;
  font-size: 14px;
  margin-bottom: 15px;
}

.comments-container {
  display: none;
}

.comments-container.show {
  display: block;
}

body.modo-claro {
  background-color: white;
  color: black;
}

body.modo-oscuro {
  background-color: #15202B;
  color: rgb(19, 15, 15);
}

.btn-cambiar-modo {
  background-color: var(--color--principal);
  width: 12rem;
  cursor: pointer;
  border: transparent;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-cambiar-modo:hover {
  background-color: #1291f6;
}
/* Estilos para el mensaje "Aún no agregaste nada a favoritos" */
.sin-favoritos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  background-color: #f8d7da; /* Color de fondo rojo claro para indicar atención */
  border: 1px solid #f5c6cb; /* Borde rojo más oscuro */
  border-radius: 8px;
}

.sin-favoritos i {
  color: #721c24; /* Color rojo oscuro para el icono de advertencia */
  font-size: 2rem;
  margin-bottom: 10px;
}

/* Estilos mejorados para el título "Favoritos" */
.favoritos_title {
  text-align: center;
  margin-top: 30px;
  font-size: 2.5rem; /* Tamaño grande de fuente */
  color: #007bff; /* Azul brillante para el color del texto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para resaltar el texto */
}


/* PERFIL DATOS */
.perfil__info {
  display: flex;
  align-items: center;
}

.perfil__img {
  margin-right: 1rem;
}

.perfil__img img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.perfil__details h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.perfil__details p {
  margin: 0;
  font-size: 0.9rem;
  color: #657786;
}

#logout-button {
  margin-left: auto;
}

@media(width<993px) {
  body {
    background-color: #00A770;
  }

  .navbar__links {
    width: 15%;

  }

  .navbar__links a {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    color: var(--color--sec);
    text-decoration: none;
    font-size: 0px;
  }

  .navbar__links__saved a {
    margin-left: 4px;
  }

  .navbar__links i {
    width: 100%;
    font-size: 2rem;
  }

  .navbar__links li {
    font-size: 2rem;
  }

  .perfil__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  .perfil__img {
    margin-right: 7px;
  }

  .perfil__img img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
  }

  .perfil__details h3 {
    display: none;
  }

  .perfil__details p {
    display: none;
  }

  #logout-button {
    margin: 0;
  }

}

@media (max-width: 575px) {
  body {
    background-color: #1291f6;
  }
  .form-switch{
    display: none;
  }

  .navbar {
    position: fixed;
    bottom: 0;
    color: var(--color--sec);
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: #1291f6;
    /* Ajusta el color de fondo según sea necesario */
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  }

  .navbar__links {
    position: fixed;
    bottom: 0;
    background-color: #00A770;
    flex-direction: row;
    height: 3rem;
    margin: 0;
    padding-top: 5px;
    display: flex;
    width: 100%;
  }

  .navbar__links a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color--sec);
    text-decoration: none;
    font-size: 1rem;
    /* Ajusta el tamaño del texto según sea necesario */
  }

  .navbar__links i {
    font-size: 1.5rem;
    /* Ajusta el tamaño del icono según sea necesario */
  }

  .navbar__links__saved a {
    margin-left: 4px;
  }

  .perfil__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  .perfil__img {
    display: none;
  }

  .perfil__details h3 {
    display: none;
  }

  .perfil__details p {
    display: none;
  }

  #logout-button {
    /* margin-right: 56px; */
    position: fixed;
    right: 36px;
    bottom: 4px;
    padding-top: 5px;
  }
}