body {
  font-family: Arial, sans-serif;
  transition: background-color 0.5s ease, color 0.5s ease;

}

.navbar-mobile {
  display: none;
}

.navbar {
  position: fixed;
  background-color: #007bff;
  color: #ddd;
  height: 100%;
  /* debo ajustar luego esto */
  display: flex;
  width: 15%;
  max-height: 7rem;
}

@media (width < 500px) {
  .navbar {
    display: none;
  }

  .navbar-mobile {
    display: flex;
    background-color: #00ff00;
    position: absolute;
    width: 100%;
    position: fixed;
    bottom: 0;
    justify-content: center;
  }

  .navbar-mobile .navbar__links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: baseline;
    flex-direction: row;
    /* Para que los enlaces estén uno encima del otro */
  }

  .navbar-mobile .navbar__links a {
    padding: 15px;
    /* Añade un espaciado a los enlaces para mejorar la accesibilidad táctil */
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
  }

  .navbar-mobile .navbar__links a:hover {
    background-color: #1DA1F2;
  }

  /* Ajuste de estilos para el botón de logout */
  .navbar-mobile #logout-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    text-align: left;
    width: 100%;
    margin-top: 10px;
    /* Añade un margen top para separar el botón de los enlaces */
  }

  .navbar-mobile #logout-button:hover {
    background-color: #c0392b;
  }
}

.navbar__links {
  list-style: none;
}

.navbar__links a {
  color: #f5f5f5;
  font-size: 1.2rem;
  text-decoration: none;
}

.navbar__links li {
  margin-top: 15px;
  justify-content: center;
}

/* #logout-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#logout-button:hover {
  background-color: #c0392b;
} */

/* tweet box */
.tweet__box {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tweet__box__content {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 100px;
}

.tweet__box__button {
  background-color: #1DA1F2;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

/* ICONOS */
.tweet__box__icons i {
  margin-right: 10px;
  cursor: pointer;
}

/* Columna derecha */
.sidebar {
  position: fixed;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar h4 {
  font-size: 18px;
  margin-bottom: 15px;
}

.sidebar__user-list {
  list-style: none;
  padding: 0;
}

.sidebar__user-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.sidebar__user-img {
  border-radius: 50%;
  margin-right: 10px;
}

.sidebar__trends-list,
.sidebar__suggestions-list {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

.sidebar__trends-item,
.sidebar__suggestions-item {
  margin-bottom: 10px;
}

.sidebar__trends-item a {
  color: #007bff;
  text-decoration: none;
}

.sidebar__suggestions-img {
  border-radius: 50%;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  object-fit: c;
}

/* TWEET */
.tweets-container {
  margin-top: 20px;
}

.tweet {
  background-color: #f5f5f5;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.tweet {
  background-color: white;
  border: 1px solid #e1e8ed;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* AUTOR TWEET */
.tweet-author {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.tweet-author img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.author-name {
  font-weight: bold;
}

.tweet-text {
  font-size: 16px;
  margin-bottom: 10px;
}

/* ACTIONS (LIKE, HORA, COMMENT) */

.tweet-actions {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.tweet-time {
  color: #657786;
  font-size: 12px;
  margin-right: 10px;
}

.tweet-action {
  background: none;
  border: none;
  color: #657786;
  cursor: pointer;
  margin-right: 20px;
  font-size: 1.3rem;
  margin-left: 2rem;
}

.like-action:hover {
  background-color: rgba(242, 29, 29, 0.315);
  border-radius: 50%;
}

.like-action.liked {
  color: red;
}

.comment-action:hover {
  background-color: rgba(114, 113, 113, 0.315);
  border-radius: 50%;
}

/* IMAGEN TWEET */
.tweet-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}


.login-form {
  width: 300px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.login-form h1 {
  text-align: center;
  color: #4ca340;
  font-size: 24px;
  padding: 20px 0 20px 0;
}

.login-form input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.login-form input[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: #4ca340;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
}

.login-form .error-message {
  text-align: center;
  color: #ff0000;
  font-size: 14px;
  margin-bottom: 15px;
}

.login-form .success-message {
  text-align: center;
  color: #00ff00;
  font-size: 14px;
  margin-bottom: 15px;
}

/* SECCION COMENTARIOS */
.comments-container {
  display: none;
}

.comments-container.show {
  display: block;
}

body.modo-claro {
  background-color: white;
  color: black;
}

body.modo-oscuro {
  background-color: black;
  color: white;
}


.btn-cambiar-modo {
  background-color: #6EA2C4;
  width: 12rem;
  cursor: pointer;
  border: transparent;
}